<ul class="nav"> 
	<li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
	<li class="nav-item"><a class="nav-link active" href="/about">About me</a></li>
	<li class="nav-item"><a class="nav-link active" href="/project">Projects</a></li>
</ul>
